.main-container-locked {
    width: 100%;
    /* height: 2560px; */
    border: 0px none;
    background-image: url(../ui/mock/noise.png);
    background-color: #1b1818;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    margin: 0!important;
    
}

.locked-icon {
    animation: sun-loading-spin infinite 20s linear;
    max-width: 500px;
    max-height: 500px;
}

@keyframes sun-loading-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}