.expectations__wrapper {
    width: 100%;
    background-color: var(--background_black);
    padding: 11% 12%;
    background-image: url('../../ui/mock/noise.png');
    overflow: hidden;
    border-radius: 40px 40px 0 0;

}

.expectations__title {
    color: var(--background);
    font-family: "Kyiv Region-Regular", Helvetica;
    font-size: 160px;
    text-align: center;
    text-transform: lowercase;
    z-index: 11;
}

/* .expectations__cards__container{

} */

.expectations_card {
    margin: 0 auto;
    display: none;
    scale: 30%;
}


.slider {
    position: relative;
    /* width: 140%; */
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.item {
    position: absolute;
    /* width: 50%; */
    /* background-color: red; */
    /* left: 14%; */
    transform: translate(50%, 0);
    transition: 0.5s all;
    scale: 0.8;
}

.exp_btn {
    position: absolute;
    top:40%;
    background: none;
    border: none;
    /* color: var(--red_main); */

    width: 35px;
    height: 40px;
    left: 50px;
    margin: 30px;
}   

.next_btn {
    background: url('../../ui/mock/slider_next.png');
    left: unset;
    right: 5%;
    
    animation-name:  next;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition:  all .5s;
    z-index: 5;
    /* transform: rotate(90deg); */
}

/* @keyframes next {
    0% {
        transform: translateX(0px);
        
    }

    50% {
        transform: translateX(-40px);
    }

     100% {
        transform: translateX(0px);
     }
} */

.prev_btn{

    background: url('../../ui/mock/slider_prev.png');
    right: 50px;
    
    animation-name:  next;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition:  all .5s;
    z-index: 5;
}

@keyframes prev {
    0% {
        transform: translateX(40px);
        
    }

    50% {
        transform: translateX(0px);
    }

     100% {
        transform: translateX(40px);
     }
}

@media screen and (min-width: 1900px) {
    
    .next_btn {
        right: 5%;
    }

    .prev_btn {
        left: 5%;
    }
}

@media screen and (max-width: 1900px) {
    
    .next_btn {
        right: -8%;
    }

    .prev_btn {
        left: -8%;
    }
}


@media screen and (max-width: 1600px) {

    .slider {
        scale: 0.8;
        height: 450px;
    }


    .main .label {
        font-size: 170px;
        color: white;
    }
    .expectations__title {
        font-size: 136px;
    }

    .expectations__wrapper {
        width: 100%;
        background-color: var(--background_black);
        padding: 8% 9%;
    }
    

}

@media screen and (max-width: 1280px) {

    .expectations__title {
        font-size: 90px;
    }

    .slider {
        scale: 0.6;
        height: 350px;
    }

    .next_btn {
        right: -40%;
    }

    .prev_btn {
        left: -40%;
    }

}


@media screen and (max-width: 960px) {

    .expectations__title {
        font-size: 80px;
    }

    
    .next_btn {
        right: -50%;
    }

    .prev_btn {
        left: -50%;
    }
}



@media screen and (max-width: 768px) {

    .expectations__title {
        font-size: 64px;
    }

    .slider {
        scale: 0.4;
        height: 300px;
    }

    .next_btn {
        right: -90%;
    }

    .prev_btn {
        left: -90%;
    }

}

@media screen and (max-width: 560px) {



    .expectations__title {
        font-size: 48px;
    }

    .slider {
        /* display: none; */
        scale: 0.3;
        height: 230px;
    }

    .next_btn {
        right: -120%;
    }

    .prev_btn {
        left: -120%;
    }

}

@media screen and (max-width: 420px) {

    .expectations__cards__container{
        height: 1200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        margin-top: -100%;
    }

    .expectations_card {
        position: absolute;
        display: block;
        scale: 0.37;
    }

    .welcome {
        top: 0%;
        right: -118%;
    }

    .exp_btn {
        display: none;
    }


    .main-program {
        top: 18%;
        left: -118%;
    }


    .night-program {
        top: 36%;
        right: -118%;
    }


    .residence {
        top: 72%;
        left: -118%;
    }
    
    .transfer{
        top: 54%;
        right: -118%;
    }

    .food {
        top: 90%;
        right: -118%;
    }

    .expectations__wrapper {
        height: 1450px;
    }

    .expectations__title {
        font-size: 38px;
    }

    .slider {
        scale: 0.28;
        height: 200px;
    }

    .next_btn {
        right: -160%;
    }

    .prev_btn {
        left: -160%;
    }

    .item {
        display: none;
    }

}